<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @current_basket.basket_items.each do |basket_item| %>
      <tr>
        <td><%= basket_item.product.name %></td>
        <td><%= basket_item.product.price %></td>
        <td><%= basket_item.quantity %></td>
        <td><%= basket_item.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>


Total without VAT: <%= @current_basket.total_without_vat%>
<br />
Total with VAT: <%= @current_basket.total_after_discount %> (Any discounts have been deducted)