<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'View', product_path(product.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>