Product: <%= @product.name %>
<br>
Price: <%= @product.price %>

<%= form_for @basket_item do |f| %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.submit "Add to basket" %>
<% end %>